<h1>New Addition</h1>

<form action="wizard_add">

  <div>
    <label for="first">Add this:</label>
    <input id="first" name="first_num" placeholder="5.0">
  </div>

  <div>
    <label for="second">to this:</label>
    <input id="second" name="second_num" placeholder="4.0">
  </div>

  <div>
    <button>Add!</button>
  </div>

</form>
