<h1>New multiplication</h1>

<form action="wizard_multiply">

  <div>
    <label for="first">Multiply this:</label>
    <input id="first" name="first_num" placeholder="5.0">
  </div>

  <div>
    <label for="second">by this:</label>
    <input id="second" name="second_num" placeholder="4.0">
  </div>

  <div>
    <button>Multiply!</button>
  </div>

</form>
