<h1>New subtraction</h1>

<form action="wizard_subtract">

  <div>
    <label for="first">Subtract this:</label>
    <input id="first" name="first_num" placeholder="5.0">
  </div>

  <div>
    <label for="second">from this:</label>
    <input id="second" name="second_num" placeholder="4.0">
  </div>

  <div>
    <button>Subtract!</button>
  </div>

</form>
