

<form action="/coords_to_weather/results">

  <div>
    <label for="user_latitude">Latitude</label>
    <input id="user_latitude" name="user_latitude" placeholder="Enter the latitude">
  </div>

  <div>
    <label for="user_longitude">Longitude</label>
    <input id="user_longitude" name="user_longitude" placeholder="Enter the longitude">
  </div>

  <div>
    <button>Lookup Weather!</button>
  </div>

</form>
