<h1>Street address to coordinates results</h1>

<d1>
  <dt>Street address</dt>
  <dd><%= @street_output %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>

</d1>
