<h1>Street address to coordinates calculation</h1>

<form action="results">

  <div>
    <label for="user_street_address">Street Address</label>
    <input id="user_street_address" name="user_street_address" placeholder="Enter the address">
  </div>

  <div>
    <button>Lookup Coordinates!</button>
  </div>

</form>
